.container {
  height: 90vh;
  width: 90vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.display {
  height: 70vh;
  width: 40vw;
  border: 2px solid black;
}
.add,
.delete,
.list,
.clear,
.deleteall{
  width: 7vw;
  height: 5vh;
  border: 2px solid black;
  border-radius: 9px;
}
.buttoncontainer{
    display: flex;
    flex-wrap: wrap;
}

